/* font-family: 'Playfair Display', serif; */

body {
    margin: 0;
    background: url("../img/bg/bg.jpg");
    background-color: #0B1D26;
    background-size: 100% auto;
    background-repeat: no-repeat;
    z-index: -1;
}

.container-wide {
    max-width: 1790px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-nav {
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 198px;
}

.logo {
    font-family: 'Playfair Display', serif;
    width: 108px;
    height: 24px;
}

.nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li+li {
    margin-left: 40px;
}

.nav a {
    text-decoration: none;
    transition: 0.2s ease-in;
}

.nav a:hover {
    color: #FBD784;
}

.account {
    font-size: 17px;
    font-weight: 700;
}

.account a {
    transition: 0.2s ease-in;
}

.account a:hover {
    color: #FBD784;
}

.header-title {

    max-width: 980px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.title__category {
    position: relative;
    padding-left: 104px;
    color: #FBD784;

}

.title__category::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    content: "";
    width: 72px;
    height: 2px;
    background-color: #FBD784;
}

.title__h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 88px;
    line-height: 114%;
    text-transform: capitalize;
    text-decoration: none;
    margin-bottom: 34px;
}

.title__scroll {
    display: inline-block;
    padding-right: 32px;
    position: relative;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 843px;
}

.title__scroll::after {
    position: absolute;
    display: block;
    content: "";
    right: 0;
    top: 50%;
    width: 16px;
    height: 24px;
    transform: translateY(-50%);
    background-image: url("../img/icon/arrow_down.svg");
}

/* MAIN */
.container {
    display: block;
    max-width: 1492px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

/* ARTICLE */
.article {
    display: flex;

}

.article-text {
    position: relative;
    margin-right: 114px;
    max-width: 632px;
    top: 0;
    transform: translateY(25%);
}

.article-text::before {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%);
    display: block;
    content: attr(data-number);
    width: 240px;
    height: 240px;
    font-weight: 700;
    font-size: 240px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.1);
}

.article-subtitle {
    position: relative;
    padding-left: 104px;
    color: #FBD784;
    margin-bottom: 27px;
}

.article-subtitle::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    content: "";
    width: 72px;
    height: 2px;
    background-color: #FBD784;
}

.article-title {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    margin-bottom: 27px;
}

.article-text p {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 27px;
}

.article-read-more {
    position: relative;
    font-size: 18px;
    line-height: 22px;
    color: #FBD784;
    padding-right: 40px;
}

.article-read-more::after {
    position: absolute;
    content: "";
    background-image: url("../img/icon/arrow_rigth.svg");
    width: 24px;
    height: 16px;
    margin-left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.article-img {}