* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Gilroy";
}

a {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}