/* font-family: 'Playfair Display', serif; */
* {
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin: 0;
    background-color: #0B1D26;
    background-image: url("../img/bg/bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

