/* font-family: 'Playfair Display', serif; */
* {
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin: 0;
    background-color: #0B1D26;
    background-image: url("../img/bg/bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #fff;
}

.container-wide {
    max-width: 1790px;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
}

.header {
    display: flex;
    padding-top: 64px;
    height: 25px;
    align-items: center;
}

.header__logo {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    padding-bottom: 1px;
}

.header__nav {
    margin: 0 auto;
    display: flex;
    list-style: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.header__nav ul {
    display: flex;
}

.header__nav li+li {
    padding-left: 40px;
}

.header__account {
    position: relative;
    font-size: 17px;
    line-height: 21px;
    padding-left: 32px;
}

.header__account::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;

    background-image: url("../img/icon/account.svg");
    color: #fff;
}